#mainpane{
    -fx-background-image: url("/view/rainbow.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.container{
    -fx-background-color : #58FAF4;
    -fx-background-radius : 5px;
}

.container Label {
    -fx-text-fill: #610B21;
}

#title{
    -fx-effect: dropshadow(gaussian,#B5B2FF,0,1,2,2);
}

.btn{
    -fx-border-radius: 4px;
    -fx-background-color: #FFFF00;
    -fx-text-fill: #0000FF;
    -fx-border-color: #FFFF00;
}

.btn:pressed{
    -fx-border-radius: 4px;
    -fx-background-color:  #0000FF;
    -fx-text-fill: #FFFF00;
    -fx-border-color: #0000FF;
}

#mainmenu{
    -fx-background-color: #FFFF00;
    -fx-text-fill: #0000FF;
    -fx-border-color: #FFFF00;
}

.menubtn{
    -fx-border-color: #0000FF;
    -fx-border-width: 0 0 3 0;
    -fx-background-color: #FFFF00;
    -fx-text-fill: #0000FF;
}

.menubtn:pressed{
    -fx-background-color:  #0000FF;
    -fx-text-fill: #FFFF00;
}


